@import url('https://fonts.googleapis.com/css?family=Arimo|Noto+Sans');

body {
    padding-top: 2rem;
    background-image: url('../images/background.jpg');
    background-blend-mode: difference;
    font-family: 'Arimo', sans-serif;
}

.container {
    font-family: 'Noto Sans', sans-serif;
}

/* .footer {
    margin-top: 50px;
    bottom: 0px;
    line-height: 60px;
} */

#github-ico {
    height: 20px;
}
/* crystals */
/* I know I could've added classes, but meh.. spesghetti code  */
#blue_crystal,
#yellow_crystal,
#green_crystal {
    width: 100px;
}

#red_crystal {
    width: 100px;
    height: 100px;
}

.crystalValCard {
    margin: 10px 0 10px 5px;
    max-width: 135px;
    padding: 5px;
    display: none;
    z-index: 9999;
}
.crystal_shadow {
    box-shadow: 5px 5px #444;
    margin: 5px;
    border-radius: 10%;
}

/* media */

/* @media screen and (max-width: '766px') {
    body {
        min-height: 100%;
    }
    .container {
        margin-bottom: 100px;
    }
} */
